@model departments.Models.Phongban

<h4>Cập nhật thông tin</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label  class="control-label">Mã phòng ban</label>
            <input asp-for="Id" id="idpb" disabled class="form-control" />
            
        </div>
        
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" id="namepb" class="form-control" />
            <span asp-validation-for="Name"  class="text-danger"></span>
        </div>


    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
